<div class="well chapter">

    {{markdown content.content}}

    {{#if visAlleOppgaver}}
        <h1>Oppgaver</h1>
        <button class="btn btn-default form-control" style="margin-bottom: 10px;" {{action "skjulAlleOppgaverAction"}}>Skul oppgaver</button>

        {{#each oppgave in oppgaver}}
            {{markdown oppgave.content}}
        {{/each}}
    {{else}}
        <h1>Oppgaver</h1>
        <button class="btn btn-default form-control" style="margin-bottom: 10px;" {{action "visAlleOppgaverAction"}}>Vis alle oppgaver samtidig</button>

        {{#each oppgave in oppgaver}}
            {{#link-to "course.oppgave" oppgave class="list-group-item"}}
                <span style="margin-left: 15px">
                    <span class="glyphicon glyphicon-signal"></span> {{oppgave.tittel}}
                </span>
                <span class="glyphicon glyphicon-chevron-right pull-right" style="margin-right: 10px;"></span>
            {{/link-to}}
        {{/each}}
    {{/if}}

</div>