
{{!markdown intro}}
{{!markdown content.content}}
<div class="chapterIntro">
    {{#each chapter in chapters}}
        <h1>{{#link-to "chapter" chapter}}{{chapter.kapittel}} - {{chapter.tittel}}{{/link-to}}</h1>


        <table class="subchapterBox">
        {{#each subchapter in chapter.sortedSubchapters}}
            <tr>
                <td class="numberCell">
                    <a ="#" {{action "navigateToSubchapter" chapter subchapter}} class="pointer">
                        <div class="oppgavekapittelBox">
                            {{chapter.kapittel}}.{{subchapter.kapittel}}
                        </div>
                    </a>
                </td>
                <td>
                    <a ="#" {{action "navigateToSubchapter" chapter subchapter}} class="pointer">
                        <h2>{{subchapter.tittel}}</h2>
                        <div class="oneliner">{{subchapter.oneliner}}</div>
                    </a>
                </td>
            </tr>
        {{/each}}
        </table>
    {{/each}}
</div>