<div class="well chapter">
    <div class="well">
        {{#if slides}}
            <p>Dette kapittelet inneholder lysbilder. Lysbildene er ment for deg som ønsker å holde et programmeringskurs basert på dette kurset. Lysbildene gir et raskt overblikk over innholdet i kapittelet. Du kan velge å se lysbildene inkludert på denne siden, eller åpne lysbildene i et eget vindu.</p>
            {{#if visSlides}}
                <button class="btn btn-default" {{action "skjulSlidesAction"}}>Skjul Lysbilder <span class="glyphicon glyphicon-chevron-up"></span></button>
                {{view Kodegenet.RevealFrameView src=slideUrl}}
            {{else}}
                <button class="btn btn-default" {{action "visSlidesAction"}}>Vis Lysbilder <span class="glyphicon glyphicon-chevron-down"></span></button>
                <a {{bind-attr href="slideUrl"}} target="_blank" class="btn btn-default">Åpne Lysbilder i eget vindu <span class="glyphicon glyphicon-chevron-right"></span></a>
            {{/if}}
        {{/if}}
    </div>

    {{markdown content.content}}

    {{#if visAlleOppgaver}}
        <h1>Oppgaver</h1>
        <button class="btn btn-default form-control" style="margin-bottom: 10px;" {{action "skjulAlleOppgaverAction"}}>Skul oppgaver</button>

        {{#each oppgave in oppgaver}}
            {{markdown oppgave.content}}
        {{/each}}
    {{else}}
        <h1>Oppgaver</h1>
        <button class="btn btn-default form-control" style="margin-bottom: 10px;" {{action "visAlleOppgaverAction"}}>Vis alle oppgaver samtidig</button>

        {{#each oppgave in oppgaver}}
            {{#link-to "chapter.oppgave" oppgave class="list-group-item"}}
                <span style="margin-left: 15px">
                    <span class="glyphicon glyphicon-signal"></span> {{oppgave.tittel}}
                </span>
                <span class="glyphicon glyphicon-chevron-right pull-right" style="margin-right: 10px;"></span>
            {{/link-to}}
        {{/each}}
    {{/if}}

</div>