<div class="shopIndex">
    <div class="pageContent">
        <div class="small-padding-bottom"></div>
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">
                    <span class="glyphicon glyphicon-search"></span>
                </span>
                {{input type="text" placeholder="Søk blandt produktene" class="form-control" id="filterProducts" value=filterString}}
            </div>
        </div>

        {{#each category in controller}}
            {{#if category.sortedProductsLimited.length}}
            <div class="shop-index-category">

                <div class="shop-index-category-title">{{category.name}}</div>

                <div class="row">
                    {{#each product in category.sortedProductsLimited}}
                        <div class="col-md-2">
                            <div class="shop-index-category-products">
                                {{#link-to "shop.product" product class="shop-index-category-product pointer" tagName="a"}}
                                    <img class="shop-index-category-product-thumbnail" {{bind-attr src=product.thumbnail.href}} />
                                    <div class="shop-index-category-product-name">{{product.name}}
                                        <br/>Kr. {{product.price}},-
                                    </div>
                                {{/link-to}}
                            </div>
                        </div>
                    {{/each}}
                </div>
                <div class="row">
                    <div>
                        <div class="shop-index-category-button">
                            {{#link-to "shop.category" category.id}}
                                <div class="btn btn-primary pointer">Flere Produkter <span
                                        class="glyphicon glyphicon-chevron-right"></span></div>
                            {{/link-to}}
                        </div>
                    </div>
                </div>
            {{/if}}
        {{/each}}
    </div>
    </div>