<div class="pageContent">
    <div class="product-image">
        <div class="row">
            <div class="col-md-8">
                <div class="product-main-image">
                    <img class="product-image-lightboard" {{bind-attr src=controller.currentPhoto.href}} />
                </div>

                <div class="product-main-thumbnails">
                    <div class="row">
                        {{#each picture in pictures}}
                            <div class="col-sm-3 col-md-3">
                                <img class="product-image-thumbnail" {{bind-attr src=picture.href}} {{action "selectPhoto" picture}}/>
                            </div>
                        {{/each}}

                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <h2>{{name}}</h2>
                <div class="product-price">Pris: NOK {{price}},-</div>

                <div class="product-buttons">
                    {{#if kanLeggeIHandlekurv}}
                        <button class="btn btn-primary" {{action "addToCart" model}}><i class="glyphicon glyphicon-shopping-cart"></i> Legg i Handlekurven</button>
                    {{else}}
                        {{#if maksAntallBestillt}}
                            <button class="btn btn-primary disabled" disabled><i class="glyphicon glyphicon-shopping-cart"></i> Vi har ikke flere tilgjengelig</button>
                        {{else}}
                            <button class="btn btn-primary disabled" disabled><i class="glyphicon glyphicon-shopping-cart"></i> Midlertidig utsolgt</button>
                        {{/if}}

                    {{/if}}
                    <p style="margin-top: 10px;">* For utdanningsintitusjoner og skoler tilbyr vi også betaling via faktura. Kontakt oss på <a href="mailto:post@kodegenet.no">post@kodegenet.no</a> for bestilling.</p>
                </div>

                <hr>

                Antall på lager i Oslo: {{quantity}}

                <div class="btn btn-default btn-block" {{action "scrollToDescription"}}><i class="fa fa-arrow-circle-o-down pull"></i> Beskrivelse </div>
                <div class="btn btn-default btn-block" {{action "scrollToLearn"}}><i class="fa fa-arrow-circle-o-down"></i> Lær å bruke</div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <a id="productDescription"></a>
                <div class="product-description">
                    <h1>Beskrivelse</h1>
                    {{markdown model.content}}
                </div>
            </div>
            <div class="col-md-6">
                <a id="productLearn"></a>
                <div class="product-learn">
                    <h1>Lær å bruke</h1>
                    {{#each learn in model.learn}}
                        <div class="clearfix">
                            <h2>{{link-to learn.title "course" learn}}</h2>
                            <img {{bind-attr src="learn.imageSrc"}} class="pull-left"/>
                            <div>{{learn.intro}}</div>
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>