<div class="headerIntroArea">
    <h1>{{title}}</h1>

    <div class="introText">
        {{intro}}
    </div>
</div>

<div class="submenu" id="submenu">
    <div class="pageContent">
        <div class="row">
            <div class="col-md-12 text-center">
                <button class="btn btn-default chooseCourseButton submenubutton" {{action "toggleCoursePopover"}}>
                    <span class="glyphicon glyphicon-book"></span>
                    {{title}}
                </button>

                <span class="glyphicon glyphicon-chevron-right"></span>

                <button class="btn btn-default chooseChapterButton submenubutton" {{action "toggleChapterPopover"}}>
                    <span class="glyphicon glyphicon-th-list"></span>
                    {{#if controllers.chapter.chapterTittel}}
                        {{controllers.chapter.chapterTittel}}
                    {{else}}
                        {{controller.settings.chooseChapter}}
                    {{/if}}

                </button>

                {{#if controllers.chapter.model}}
                    <span class="glyphicon glyphicon-chevron-right"></span>

                    <button class="btn btn-default chooseSubchapterButton submenubutton" {{action "toggleSubchapterPopover"}}>
                        <span class="glyphicon glyphicon-tag"></span>
                        {{#if selectedSubchapter.oppgaveTittel}}
                            {{selectedSubchapter.oppgaveTittel}}
                        {{else}}
                            {{controller.settings.chooseSubchapter}}
                        {{/if}}
                    </button>
                {{/if}}

                <div id="coursePopover" class="pop popnomore coursePopover">
                    {{#each course in controllers.courses.model}}
                        {{#if course.visible}}
                            <div {{action "selectCourse" course}} class="submenuLink">
                                <span class="glyphicon glyphicon-book"></span> {{course.title}}
                            </div>
                        {{/if}}
                    {{/each}}
                </div>

                <div id="chapterPopover" class="pop popnomore chapterPopover">
                    {{#each chapter in sortedChapters}}
                        <div {{action "selectChapter" chapter}} class="submenuLink">
                            <span class="glyphicon glyphicon-th-list"></span> {{chapter.chapterTittel}}
                        </div>
                    {{/each}}
                </div>

                <div id="subchapterPopover" class="pop popnomore subchapterPopover">
                    {{#each subchapter in controller.controllers.chapter.subchapters}}
                        <div {{action "scrollToSubchapter" subchapter}} class="submenuLink">
                            <span class="glyphicon glyphicon-tag"></span> {{subchapter.oppgaveTittel}}
                        </div>
                    {{/each}}
                </div>
            </div>
        </div>
    </div>
</div>

<div class="pageContent courseContent">
    <div class="row">
        <div class="col-lg-5 col-lg-offset-7 col-md-7 col-md-offset-4">
            {{#if submenuContent}}
                <div class="well submenuContent">
                    {{markdown submenuContent}}
                </div>
            {{/if}}
        </div>

        {{#if controller.settings.adsenseLeaderboard}}
            <div align="center">
                {{markdown controller.settings.adsenseLeaderboard}}
            </div>
        {{/if}}

        {{#if largeImage}}
            <img {{bind-attr src=largeImage}} class="large_course_img" />
        {{/if}}

        <div class="col-md-12 chapterContentArea">
            {{outlet}}
        </div>
    </div>
</div>