<div class="pageContent">


    <div class="row">

        {{#if page}}
            <div class="col-md-12">

                <h1>{{page.tittel}}</h1>

                {{markdown page.content}}
            </div>
        {{/if}}

        {{#each course in controller.courses}}
            {{#if course.visible}}
                <div {{bind-attr class=controller.indexColClassName}}>
                    <div class="courseIntroBox">
                        <div class="courseIntroBoxHeader">
                            <h1>{{course.title}}</h1>
                        </div>
                        <div class="courseIntroBoxContent">
                            {{course.shortIntro}}
                        </div>
                        <div class="courseIntroBoxHeader">
                            {{#link-to "course" course class="btn btn-default" tagName="a"}}Start{{/link-to}}
                        </div>
                    </div>
                </div>
            {{/if}}
        {{/each}}

        <div class="col-md-12">
            <h1>{{controller.settings.updates_header}}</h1>
            {{#each update in controller}}
                <div>
                    <h4>{{dmy update.publishedDate}} - {{update.title}}</h4>
                    {{markdown update.content}}
                    {{#if update.route}}
                        <div><a {{bind-attr href=update.route}}>Les Mer <span class="glyphicon glyphicon-chevron-right"></span></a></div>
                    {{/if}}
                </div>
                <hr width="25%" />

            {{/each}}
        </div>
    </div>

</div>