<div class="mainAreaIndex">
    {{#if page}}
    <div id="indexCarousel" class="index-intro-page">
        <div class="pageContent">
            <div class="row">
                <div class="col-sm-12 col-md-12">
                    {{#link-to "scratchfrascratch"}}<div class="figure figure-lg"><img src="/figurer/scratchfrascratch_fb.jpg" /></div>{{/link-to}}
                </div>
            </div>
        </div>
    {{/if}}


    <div id="indexContent">
        <div class="row">
            <div class="col-sm-12 col-md-12 instagram-panel">
                <div class="pageContent">
                    <div class="instagramHeader clearfix">
                        <img src="/figurer/instagram-logo-sketch.png"/>
                        <div class="instagram-header-txt">Instagrams <br/>@Kodegenet</div>
                    </div>
                    {{portfolio-images images=sortedInstagramsLimited}}
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="pageContent">
                    {{#each update in sortedUpdatesLimited}}
                        <div>
                            <h4>{{dmy_no update.publishedDate}} - {{update.title}}</h4>
                            <div class="updateContent">
                                {{#if update.image}}
                                    <img {{bind-attr src=update.image}} class="updateImage"/>
                                {{/if}}

                                {{markdown update.updateIntro}}
                            </div>

                            {{#if update.content}}
                                <div>{{#link-to "news" update}}
                                    Les mer <span class="glyphicon glyphicon-chevron-right"></span>
                                {{/link-to}}</div>
                            {{/if}}

                            {{#if update.route}}
                                <div><a {{bind-attr href=update.route}}>Les Mer <span
                                        class="glyphicon glyphicon-chevron-right"></span></a></div>
                            {{/if}}

                            {{#if update.event}}
                                <div>{{#link-to "kodeklubb.event" update.event}}
                                    Mer informasjon og påmelding <span class="glyphicon glyphicon-chevron-right"></span>
                                {{/link-to}}</div>
                            {{/if}}
                        </div>
                        <hr width="25%"/>

                    {{/each}}
                </div>
            </div>
            <div class="col-sm-12 col-md-12">
                <div class="pageContent">
                    {{#link-to "newsIndex"}}
                        Eldre Nyheter <span class="glyphicon glyphicon-chevron-right"></span>
                    {{/link-to}}
                </div>
            </div>
        </div>

        <div id="indexKurs">
            <div class="row pageContent">

                <div class="col-sm-12 col-md-12">
                    <h1>{{controller.settings.upcoming_courses}}</h1>
                    {{event-table events=controllers.application.futureEvents}}

                    {{#if controller.epostliste.content}}
                        <h1>{{controller.settings.mailinglistHeader}}</h1>

                        {{markdown controller.epostliste.content}}
                    {{/if}}
                </div>
            </div>
        </div>

        <div id="indexEpostliste">
            {{#if controller.settings.adsenseLeaderboard}}
                <div class="row pageContent">
                    <div class="col-sm-12 col-md-12">
                        <div align="center">
                            {{markdown controller.settings.adsenseLeaderboard}}
                        </div>
                    </div>
                </div>
            {{/if}}
        </div>

    </div>
</div>