<div class="headerIntroArea">
    <h1>{{dmy_no date}}</h1>
    <h2>{{name}}</h2>

    <div class="introText">
        <table class="text-left table">
            <tbody>
            <tr>
                <td class="strong">Anbefalt aldersgrense:</td>
                <td>{{ageGroup}}</td>
            </tr>

            {{#if sted}}
                <tr>
                    <td class="strong">Sted:</td>
                    <td>{{sted}}</td>
                </tr>
            {{/if}}

            {{#if timeslot}}
                <tr>
                    <td class="strong">Tidspunkt:</td>
                    <td>{{timeslot}}</td>
                </tr>
            {{/if}}
            </tbody>
        </table>
    </div>
</div>

<div class="pageContent">
    <div class="tenMarginGap"></div>
    {{markdown content.intro}}
    {{markdown content.content}}

    {{link-to "Tilbake til Lambertseter Kodeklubb" "kodeklubb"}}
</div>