<div class="headerIntroArea">
    <h1>{{dmy_no date}} - {{name}}</h1>

    <div class="introText">
        Anbefalt aldersgrense: {{ageGroup}}<br />
        {{#if sted}}
            Sted: {{sted}}
        {{/if}}
    </div>
</div>

<div class="pageContent">
    <div class="tenMarginGap"></div>
    {{markdown content.intro}}
    {{markdown content.content}}

    {{link-to "Tilbake til Lambertseter Kodeklubb" "kodeklubb"}}
</div>