<div class="pageContent">
    <h1>{{dmy_no date}} - {{name}}</h1>
    <p style="font-weight: 900;">Anbefalt aldersgrense: {{ageGroup}}</p>
    {{markdown content.intro}}
    {{markdown content.content}}

    {{link-to "Tilbake til Lambertseter Kodeklubb" "kodeklubb"}}
</div>