<a {{bind-attr id=subchapter.id}}></a>

<div class="kapittelHeader">
    <div class="pageContent">
        <div class="kapittelNummer">{{kapittel}}.{{subchapter.kapittel}}</div>
        {{subchapter.tittel}}
    </div>
</div>

<div class="pageContent">
    {{#if subchapter.screencastbox}}
        <div class="well screencast">
            <p>Dette delkapittelet inneholder video. Videoene demonstrerer innholdet i delkapittelet, og vil dermed ikke gå utover delkapittelets innhold.</p>
            {{markdown subchapter.screencastbox}}
        </div>
    {{/if}}

    {{markdown subchapter.content}}
</div>