<h2>Ordrebekreftelser</h2>

<table class="table tabl-striped">
    <tr>
        <th>Ordrenummer</th>
        <th>Status</th>
        <th>Dato</th>
        <th>Ordrelinjer</th>
        <th></th>
    </tr>
    <tbody>
        {{#each order in controller.session.session.user.sortedOrders}}
            <tr>
                <td>{{order.id}}</td>
                <td>{{order.status}}</td>
                <td>{{#if order.createdDate}}{{dateTime order.createdDate}}{{/if}}</td>
                <td>{{order.orderLines.length}} <br />
                </td>
                <td>{{link-to "Vis" "mypage.orders.order" order classNames="btn btn-primary"}}</td>
            </tr>
        {{/each}}
    </tbody>
</table>