<h1>Ordrebekreftelse for {{id}}</h1>

<p>Takk for din bestilling!
    {{#if createdDate}}
        Vi har registrert bestillingen den {{dateTime createdDate}}.
    {{/if}}

    {{#if shipmentDate}}
        Bestillingen er sendt den {{dateTime shipmentDate}}.
    {{else}}
        Bestillingen er under behandling og vil bli sendt så fort som mulig!
    {{/if}}
</p>

<table class="table">
    <thead>
    <tr>
        <th>Produkt</th>
        <th>Antall</th>
        <th>Pris</th>
        <th>Rabatt</th>
    </tr>
    </thead>
    <tbody>
        {{#each orderLine in orderLines}}
            <tr>
                <td>
                    <div>
                        {{orderLine.product.name}}
                        {{#if orderLine.product.digitalDownload}}
                            <br /><br />
                            <h5>Dette produktet inkluderer en digital fil</h5>
                            <a {{bind-attr href=orderLine.product.digitalDownload}}>{{orderLine.product.digitalDownload}}</a>
                        {{/if}}
                    </div>
                </td>
                <td>{{orderLine.orderedProductNumber}}</td>
                <td>Kr. {{currencyFormat orderLine.totalAmount}}</td>
                <td>
                    Kr. {{#if orderLine.discountAmount}}
                        {{currencyFormat orderLine.discountAmount}}
                    {{else}}
                        0,-
                    {{/if}}
                </td>
            </tr>
        {{/each}}

        {{#if shippingType}}
            <tr>
                <td>Frakt</td>
                <td></td>
                <td>Kr. {{shippingCost}}</td>
                <td></td>
            </tr>
            {{#if trackingUrl}}
                <tr>
                    <td colspan="4">Leveransen kan spores på: <a  target="_blank" {{bind-attr href=trackingUrl}}>{{trackingUrl}}</a></td>
                </tr>
            {{/if}}
        {{/if}}

    <tr>
        <td colspan="3" class="rightAlign">Subtotal:</td>
        <td>Kr. {{currencyFormat subtotal}}</td>
    </tr>

    <tr>
        <td colspan="3" class="rightAlign">Hvorav MVA (25%):</td>
        <td>Kr. {{currencyFormat taxAmount}}</td>
    </tr>
    </tbody>
</table>


    <h1>Leveringsdetaljer</h1>


    <table class="table">
        <tbody>
        <tr>
            <td>Navn:</td>
            <td>{{givenName}} {{surname}}</td>
        </tr>
        <tr>
            <td>E-post:</td>
            <td>{{emailAddress}}</td>
        </tr>
        <tr>
            <td>Telefonnummer:</td>
            <td>{{phone}}</td>
        </tr>
{{#if shippingType}}
        <tr>
            <td>Leveringsaddresse:</td>
            <td>
                {{address}} <br />
                {{postalCode}} {{city}}
            </td>
        </tr>
{{else}}
    <tr>
        <td colspan="2">Hentes på Kodegenet på Munkerud Gård</td>
    </tr>
{{/if}}
        </tbody>
    </table>